html{
	width:100%;
}
html, body{
	max-width:1600px;
	min-width:787px;
}
.spacer_t1 {
	height: 5px;
}

.spacer_t2 {
	height: 10px;
}

.spacer_t3 {
	height: 20px;
}

.custom-area {
	resize: none;
}

.customtriple {
	margin-left: 7%;
}

.cabecillas {
	background-color: #BBC9EF;
	font-weight: bold;
}

.form-control {
	padding: 0 6px !important;
	height: 23px;
}

.bordel {
	border: 1px solid rgb(51, 122, 183);
	padding-bottom: 6px;
	border-radius: 7px;
}

.bordel-gray {
    border: 1px solid lightgray;
    padding-bottom: 6px;
    border-radius: 7px;
}

.panel-result {
	padding: 3px;
}

.panel-result-padre {
	margin-bottom: 0;
}

/* LABEL REQUIRED */
label.required {
    font-weight: bold;
	color: #04229a !important;
}

/*	OVERWRITE TITULOS H2*/

h2{
	/*color: #4756ff !important; color securitas direct*/
	color: #163f8b !important; /* color plantilla nuestra*/
	font-style: italic;
}
/* OVERWRITE INPUTS */
.input-custom-global{
	height: 22px !important;
	font-size: 12px;
	font-family: tahoma;

}
/* OVERWRITE INPUTS LABEL*/
.labelcent {
	top: 50%;
	position: relative;
	padding-top: 0px !important;
	font-size: 14px !important;
	font-style: italic;
	/*color: #04229a !important; color securitas direct*/
	color: #163f8b !important; /*color plantilla nuestra*/
	padding-left: 5px;
	padding-right: 5px;
}
/** OVERWRITE PRIMARY BUTTONS (BLUE BUTTONS) */
.btn-primary {
	background-color: #163f8b !important;
	border-color: #16429a;
}

.list-group-item-message{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:2%;
    padding-right: 2%;
    margin-top:1px;
    margin-left:1px;
    margin-bottom: 1px;
    margin-right: 1px;
    /* Eliminar el width para hacer los mensajes inline*/
    width: 98%;
    /* Alineamiento del texto del mensaje */
    text-align: left;
    font-size: 14px;
}

.alert{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right:25px;
    margin-top:3px;
    margin-left:1px;
    margin-bottom: 1px;
    margin-right: 1px;
}
/********/
.borderTabla{
	border:1px solid #ddd;
}
.borderTablaRight{
	border-right:1px solid #ddd;
}
.borderTablaBottom{
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
}

/*******PARA TODAS**********/
.iframes{
	position:relative;
	border:0;
	width:100%;
}
.pestanas{
	width: 93%;
    display: inline-block;
    margin-left: 0.5%;
}
.messageAlerts{
    position: absolute !important;
    width: 35% !important;
/*     left: 0; */
    top: 0 !important;
    z-index: 10 !important;
}
.paddingLastCell{
	padding-right:34px;
} 
.tablaConBoton div{
	height: 24.5px;
}
.panel-body {
    padding: 10px !important;
}
.primerCuadro{
	border-top:0 !important;
	border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
label{
	margin-bottom:0 !important;
}
ul[ng-transclude] li.active a{
	font-style: italic !important;
    color: rgb(42,100,150) !important;
    font-weight: bold !important;
    font-size: 14px !important;
}
h3.tituloSeccion{
	padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
hr.tituloSeccion{
	margin-top:7px;
	margin-bottom:9px;
}
.scrollTabla{
	display: block;
    width: 100%;
    height: 70px;
    overflow-y: scroll;
}
.scrollTabla2{
	display: block;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
}
.tablaGrande{
	height:170px;
	overflow-y:scroll
}
.tablaBorder div{
	border:1px solid grey;
}
.form-control-auto-width{
	width:auto !important;
}
/*Para las modales (IE8)*/
div[type="text/ng-template"]{
    display: none;
}
/******* VERTICAL TEXT ********/

.vertical-text-group {
	padding-right: 0px;
    padding-top: 97px;
    padding-left: 38px;
    width: 50px;
 }
.vertical-text{
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform:rotate(270deg);
    transform-origin: left bottom 0;
    font-weight: bold;
    margin-bottom: 850%;
    width: 1100% !important;
    max-width: none !important;
    left:100%;
    border-radius:4px !important;
    behavior: url(/pie/PIE.htc);
}
.vertical-text a{
	text-decoration:none;
	display:block;
}

.form-group{
	margin-bottom:0px !important;
}

/* div[justified="false"] ul li.active a{ */
/* 	background-color:#eee !important; */
/* } */


/***PARTES ESCONDIDAS***/
.emerge{
	position:relative;
}
.emerge #palabraClave, .emerge #cuadroBusqueda{
	position:relative;
	display:block;
	padding:10px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.emerge #palabraClave a, .emerge #cuadroBusqueda a{
	margin-top:10px;
	display:block;
}
@media (max-width: 992px){
	.emerge #palabraClave{
		position:absolute;
		width:200px;
		height:100%;
		background-color:Crimson;
		right:0;
		top:0;
		display:none;
	}
	.emerge:hover #palabraClave, .emerge:hover #cuadroBusqueda{
		display:block;
	}
	.emerge #cuadroBusqueda{
		position:absolute;
		width:200px;
		height:100%;
		background-color:CornflowerBlue;
		right:0;
		top:0;
		display:none;
	}
}

/************INFO INSTALACIÓN*******************/
#InfoInstalacion td{
	padding:2px !important;
	vertical-align: middle;
}
#InfoInstalacion th{
	padding:3px !important;
	vertical-align: middle;
}
.actionPlanTableText, .actionPlanTablePhone{
	border: 0;
    text-align: center;
    padding-top:3px;
}
.actionPlanTableText{
	width: 100%;
}
select.actionPlanTablePhone{
	width:25%;
}
input.actionPlanTablePhone{
	width:70%;
}
.errorColor{
	color:red;
	font-weight:bold;
}
/************INVOICING*******************/
#invoicing td, #invoicing th {
	padding:2px !important;
	vertical-align: middle;
}
#invoicing th {
	padding:3px !important;
	vertical-align: middle;
}
.filaCuotas{
	height:100px;
}
.filaDescuento{
	color:white;
	background-color:crimson;
}
.separaRadios{
	padding-left:30px !important;
	border-left:solid 1px rgb(217,217,217) !important;
}
.pagination{
	margin-top:0 !important;
	margin-bottom: 5px !important;
}
.editarCCC{
	padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 15px !important;
}

/**************ADMINISTRACION**************************/
/**DA**/
#tablaDA{
	display:inline-block;
	width:60%;
}
#tablaDA-params{
	display:inline-block;
	width:37%;
	margin-left:1%;
	vertical-align:top;
}
#tablaDA-params .theadTH{
	position:relative;
}
#tablaDA-params .absolutaSpan{
	position:absolute;
	left:2px;
	padding: 1px;
	cursor:pointer;
}
#tablaDA tbody, #tablaDA thead, #tablaDA-params tbody, #tablaDA-params thead{
	display:block;
	width:100%;
}
#tablaDA table, #tablaDA .thead, #tablaDA .tbody, #tablaDA tr, #tablaDA-params table, #tablaDA-params .thead, #tablaDA-params .tbody, #tablaDA-params tr{
	display:block;
}
#tablaDA table, #tablaDA-params table{
	width:100%;
}
#tablaDA .thead, #tablaDA .tbody, #tablaDA tr, #tablaDA-params .thead, #tablaDA-params .tbody, #tablaDA-params tr{
	width:100%;
}
#tablaDA td, #tablaDA .theadTH, #tablaDA-params td, #tablaDA-params .theadTH{
	display:inline-block;
	padding:1px;
	vertical-align:middle;
	text-align:center;
}
#tablaDA .tablaDA-td1{
	width:5%;
}
#tablaDA .tablaDA-td2{
	width:25%;
}
#tablaDA .tablaDA-td3{
	width:27%;
}
#tablaDA .tablaDA-td4{
	width:30%;
}
#tablaDA .tablaDA-td5{
	width:8%;
}

#tablaDA-params .tablaDA-td1{
	width:40%;
}
#tablaDA-params .tablaDA-td2{
	width:40%;
}
#tablaDA-params .tablaDA-td3{
	width:16%;
}

#tablaDA .tbody tr:hover{
	background-color:#d6ddf0;
}
#tablaDA .tbody td:hover{
	cursor:pointer;	
}
#tablaDA .tbody tr.currentDA{
	background-color:#d6ddf0;
}
#tablaDA .tbody tr, #tablaDA-params .tbody tr{
	border-bottom:1px solid #ddd;
}
#tablaDA input, #tablaDA-params input{
	background-color:transparent;
}
/*KEYS*/
#tablaKeys{
	display:inline-block;
	width:100%;
}
#tablaKeys table, #tablaKeys .thead, #tablaKeys .tbody, #tablaKeys tr{
	display:block;
}
#tablaKeys table{
	width:100%;
}
#tablaKeys tbody, #tablaKeys thead{
	display:block;
	width:100%;
}
#tablaKeys .thead, #tablaKeys .tbody, #tablaKeys tr{
	width:100%;
}
#tablaKeys td, #tablaKeys .theadTH{
	display:inline-block;
	padding:1px;
	vertical-align:middle;
	text-align:center;
}
#tablaKeys .tablaDA-td1{
	width:40%;
}
#tablaKeys .tablaDA-td2{
	width:19%;
}
#tablaKeys .tablaDA-td3{
	width:19%;
}
#tablaKeys .tablaDA-td4{
	width:19%;
}
#tablaKeys .tbody tr:hover{
	background-color:#d6ddf0;
}
#tablaKeys .tbody td:hover{
	cursor:pointer;	
}
#tablaKeys .tbody tr.currentDA{
	background-color:#d6ddf0;
}
#tablaKeys .tbody tr{
	border-bottom:1px solid #ddd;
}
#tablaKeys input{
	background-color:transparent;
}
#tablaKeys .scrollBarTH{
	width:3%;
}
/**************GENÉRICAS****************/
.margin-top20{
	margin-top:20px;	
}
.margin-right10{
	margin-right:10px !important;
}
.margin-bottom10{
	margin-bottom:10px;
}
.margin-bottom8{
	margin-bottom:8px;
}
.margin-bottom5{
	margin-bottom:5px !important;
}
.margin-left5{
	margin-left:5px !important;
}
.sinMarginRight{
	margin-right:0 !important;
}
.paddingTop3{
	padding-top:3px !important;
}
.paddingTop43{
	padding-top:43px !important;
}
.paddingBottom3{
	padding-bottom:3px !important;
}
.sinPadding{
	padding:0 !important;
}
.sinPaddingLeft{
	padding-left:0 !important;
}
.sinPaddingTop{
	padding-top:0 !important;
}
.sinPaddingBottom{
	padding-bottom:0 !important;
}
.font12{
	font-size:12px !important;
}
.font14{
	font-size:14px !important;
}
.width10{
	width:10% !important;
}
.width29{
	width:29% !important;
}
.enlinea{
	display:inline-block !important;
	position:relative;
}
.error{
	color:red;
	display:block;
	font-weight:bold;
}
.colorCancel{
	color:darkred !important;
}
.colorEdit{
	color:darkorange !important;
}
.colorSave{
	color:#28a103 !important;
}
.colorShow{
	color:darkblue !important;
}
.colorErase{
	color:#f30627 !important;
}
.colorSearch{
	color:cornflowerblue !important;
}
.colorAdd{
	color:#00c567;
}
.colorPDF{
	color:red;
}
.block{
	display:block !important;
}